:root {
    --main-bg: #444;
    --highlight-bg: #3581b8;
    --cont-bg: rgba(190, 190, 190, 0.5);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-width: 280px;
}

body {
    min-height: 600px;
    margin: 0px;
    background-color: var(--main-bg);
}

header {
    width: 100%;
    background-color: var(--highlight-bg);
    box-shadow: 0px 0px 15px black;
}

header .logo a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #ff9509;
    text-shadow: 2px 2px 3px #222;
    display: flex;
    align-items: center;
}

header .logo img {
    margin: 20px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container::after {
    background-image: url("../images/crypto-bg.jpg");
    background-size: cover;
    filter: blur(30px) contrast(0.7);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    z-index: -1000;
}

form {
    background-color: var(--cont-bg);
    box-shadow: 2px 2px 15px black;
}

form > fieldset {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 1px dotted #fff;
    border-radius: 6px;
    margin: 20px;
}

#help {
    color: blue;
    justify-self: flex-end;
}

#help-popup {
    width: 100%;
    display: none;
    justify-content: center;
    position: absolute;
    left: 0px;
}

#help-popup iframe {
    box-shadow: 2px 2px 25px black;
}

form .form-item {
    margin: 10px 0px;
}

form .form-item > input {
    font-size: 16px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 20px;
}

form .form-item:not(#agree-cont) {
    display: flex;
    flex-direction: column;
}

form .form-item:not(#agree-cont) > label {
    order: -1;
    margin-bottom: 5px;
}

.form-item > input:required ~ label::after {
    content: "*";
    color: red;
}

form input[type="submit"] {
    background-color: var(--highlight-bg);
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
}

/* CSS for handling form validation & user input */

.error {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

form .form-item > input:focus {
    outline-style: none;
    box-shadow: 0px 0px 8px rgb(77, 120, 201);
    border: 2px solid rgb(77, 120, 201);
    border-radius: 20px;
}

form input:invalid:not(:placeholder-shown) {
    text-decoration: underline rgb(255, 80, 80);
}

form input:invalid:not(:placeholder-shown) ~ .error {
    display: block;
}

form input:valid:not(:placeholder-shown):not([type="submit"]) {
    text-decoration: underline rgb(0, 175, 0);
}

/* Add input field icons */
form .form-item input:not(#agree) {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
    background-size: 20px 20px;
}

#fname,
#lname {
    background: url("../images/user.png");
}

#email {
    background: url("../images/email.png");
}

#password,
#confirm-password {
    background: url("../images/lock.png");
}

#public-key {
    background: url("../images/key.png");
}

/* Mobile specific CSS */
@media screen and (min-width: 250px) and (max-width: 440px) {
    header .logo a {
        font-size: 25px;
    }
    
    header .logo img {
        width: 70px;
        height: 70px;
    }
   
    .form-container {
        padding: 20px 0px;
        box-sizing: border-box;
    }

    form {
        width: 100%;
    }

    form > fieldset > legend {
        font-size: 18px;
    }

    form > fieldset input:not(#agree) {
        width: 100%;
    }

    form .form-item:not(#agree-cont) > label {
        display: none;
    }

    #help-popup iframe {
        width: 95vw;
        height: 250px;
    }

    #pub-key-cont {
        height: 0px;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        visibility: hidden;
    }

    .error {
        min-width: 215px;
        max-width: 350px;
    }
}

/* Tablet specific CSS */
@media screen and (min-width: 441px) and (max-width: 750px) {
    header .logo a {
        font-size: 30px;
    }
    
    header .logo img {
        width: 80px;
        height: 80px;
    }
    
    .form-container {
        padding: 40px 0px;
        box-sizing: border-box;
    }

    form {
        border-radius: 10px;
    }

    form > fieldset input:not(#agree) {
        width: 400px;
    }

    form > fieldset > legend {
        font-size: 18px;
    }

    #help-popup iframe {
        width: 80%;
        height: 250px;
    }

    .error {
        width: 395px;
    }
}

/* Desktop specific CSS */
@media screen and (min-width: 751px) {
    header .logo a {
        font-size: 40px;
    }
    
    header .logo img {
        width: 100px;
        height: 100px;
    }
    
    .form-container {
        padding: 60px 0px;
        box-sizing: border-box;
    }

    form {
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    form > fieldset {
        padding: 20px 40px;
        box-sizing: border-box;
    }

    form > fieldset input:not(#agree) {
        width: 400px;
    }

    form > fieldset > legend {
        font-size: 22px;
    }

    #help-popup iframe {
        width: 600px;
        height: 350px;
    }

    .error {
        width: 395px;
    }
}
